<%= form_for(@link) do |f| %>
  <div class="form-group">
    <%= f.label :title %><br>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa fa-tag fa-fw" aria-hidden="true"></i></span>
      <%= f.text_field :title, class: "form-control", placeholder: "my title" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :url %><br>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-anchor fa-fw" aria-hidden="true"></i></span>
      <%= f.text_field :url, class: "form-control", placeholder: "http://example.com" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit "Post", class: "btn btn-lg btn-primary submit"%>
  </div>
<% end %>

<script type="text/javascript">
  $( ".submit" ).on('click mouseover', function () {
    $(this).animateCss('jello');
  });
</script>
