<% @hash.map do |date, links| %>
  <div id="well_custom" class="well c"> 
    <div class="back_link"><%= date %></div>
    <% links.each do |link| %>
      <div class="link row clearfix">
        <h2>
          <%= link_to link.title, link.url, class: "link_color"  %><br>
          <small>Posted <%= time_ago_in_words(link.created_at) %> by <%= link.user.name %></small>
        </h2>

        <% if current_user %>
          <div class="btn-group">
            <%= render link %>
          </div>
          <% if link.user == current_user %>
            <div class="btn-group">
              <%= link_to edit_link_path(link), class: "btn btn-default btn-sm" do %>
                  <span class="fa-stack fa-1x">
                    <i class="fa fa-pencil fa-stack-1x"></i>
                  </span>
                  Edit
              <% end %>
              <%= link_to link, method: :delete, data: { confirm: 'Are you sure you want to delete?' }, class: "btn btn-default btn-sm" do %>
                  <span class="fa-stack fa-1x">
                    <i class="fa fa-trash fa-stack-1x"></i>
                  </span>
                  Delete
              <% end %>
            </div>
          <% end %>
          <% else %>
            <div class="btn-group">
              <%= label_tag "", class: "btn btn-default btn-sm disabled" do %>
                <span class="fa-stack fa-1x">
                  <i class="fa fa-heart fa-stack-1x"></i>
                </span>
                <%= pluralize_like link %>
                <%= link.get_upvotes.size %>
              <% end %>
              <%= label_tag "", class: "btn btn-default btn-sm disabled" do %>
                <span class="fa-stack fa-1x">
                  <i class="fa fa-heart fa-stack-1x"></i>
                  <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
                </span>
                <%= pluralize_dislike link %>
                <%= link.get_downvotes.size %>        
              <% end %>
            </div>
          <% end %>
      </div>
    <% end %>
  </div>
<% end %>


<script type="text/javascript">
  $( ".heart" ).click(function() {
    $(this).children(".heart_jump").animateCss('wobble');
  });
</script>