<!DOCTYPE html>
<html>
<head>
  <title>Like Machine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://s.mlcdn.co/animate.css">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="navbar navbar-default" role="navigation">
	    <div class="navbar-inner">
	      <div class="container">
	        <div id="logo" class="navbar-brand logo">
                <i class="fa fa-heart"></i>
	        	<%= link_to "Like Machine", root_path %>					
	        </div>
	        <nav class="collapse navbar-collapse navbar-ex1-collapse">
	        	<% if current_user %>
	        		<ul class="nav navbar-nav navbar-right">
		    			<li id="facebook_header">Hello, <%= current_user.name %>  <%= image_tag(@auth['info']['image'], width: '40', height: '40', class: 'img-circle') %> </li> 
		    			<li><%= link_to 'Post link', new_link_path, class: "submit_link" %></li>
		    			<li id="sign_out_link"><%= link_to "Sign out", sign_out_path, mehtod: :delete %></li>
	    			</ul>
	    		<% else %>
	    			<ul class="nav navbar-nav navbar-right">
	    				<li id="facebook_header">Sign in with   <span> <%= link_to "auth/facebook" do %><%= image_tag('facebook.png', width: '40', height: '40', class: 'img-circle') %> <% end %></span></li>
	    			</ul>
	    		<% end %>
	        </nav>
	      </div>
	    </div>
    </header>

	<div id="main_content" class="container">
	
        <%= render partial: "shared/flash_messages", flash: flash %> 

		<div id="content" class="col-md-9 center-block">
			<%= yield %>
		</div>
	</div>
</body>
</html>

<script type="text/javascript">
  $( ".logo" ).hover(function() {
    $(this).animateCss('rubberBand');
  });
</script>>